{% extends 'base.html.twig' %}

{% block title %}advertisement{% endblock %}

{% block body %}
    <h1>Update Advertisement :</h1>
    {{ include('/advertisement/_form.html.twig', {'form' : form, 'input_submit' : 'modify'}, with_context = false) }}

{% endblock %}
